/* .search-row {
  display: flex;
  justify-content: space-evenly;
} */
/* form {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */
.header-section {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form-container {
  position: fixed; /* Ensures the form is centered regardless of scrolling */
  top: 0;
  left: 0;
  width: 100%; /* Full width of the viewport */
  height: 100%; /* Full height of the viewport */
  display: flex; /* Flexbox for centering */
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000;
}

.login-form {
  background-color: #fff; /* White background */
  padding: 20px; /* Add padding for better spacing */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); /* Subtle shadow */
  max-width: 320px; /* Limit the width of the form */
  width: 100%; /* Ensure the form is responsive */
}
.admin-login-title {
  margin-left: 100px;
}
.btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(207, 247, 234);
  gap: 10px;
}
/* .btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.login-cancel-button-div {
  max-width: 46%;
  /* margin: 10px; */
  margin-top: 15px;
  margin-left: 60px;
  display: flex;
  justify-content: space-between;
}
.input-username {
  margin-left: 60px;
}
.input-password {
  margin-top: 15px;
  margin-left: 60px;
}
